#desc {
	font-size: 20px;
}

#macdo {
	margin-top: 5px;
	float: left;
	background-color: #008CBA;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	margin-right : 15px;
}

#macdo:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* ----------- */
/* CSS du menu */
/* ----------- */

.navbar {
	display: flex;
	justify-content: space-around;
	padding: 10px;
	box-shadow: 0 -1px 6px rgba(0,0,0,1);
}

.navbar ul li a {
    padding-top: 2px;
    position: relative;
}

.navbar ul li a:hover {
	color: unset !important;
}

.navbar ul li a::after {
    content: '';
    position: absolute;
    top: 30px;
    left: 50%;
    bottom: 0;
    -webkit-transform: translateX(-50%) scaleX(0);
    transform: translateX(-50%) scaleX(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    width: 100%;
    height: 1px;
    background-color: #000000;
    transition: transform 250ms, -webkit-transform 250ms;
}

.navbar ul li a:hover::after {
    -webkit-transform: translateX(-50%) scaleX(1);
    transform: translateX(-50%) scaleX(1);
}

.navbar ul li a::selection {
	color: #3b8c47;
}

.logo img {
	height: 85px;
	width: 85px;
}

nav {
    background: linear-gradient(90deg, rgb(170, 169, 136) 0%, rgb(219, 202, 157) 0%, rgb(185, 193, 159) 47%, rgb(164, 184, 135) 79%);
    margin-bottom: 3em;
}

.nav-item {
	margin: 20px;
}

.nav-link {
    color: #c43b3b;
	padding: 0 !important;
}

.nav-link.active {
	color: #212529 !important;
	background-color: unset !important;
}

/* --------------- */
/* Fin CSS du menu */
/* --------------- */
