#maDiv {
    width: 100%;
    height: 800px;
    margin-top: 50px;
}

body {
	background: #3CA55C;
	background: -webkit-linear-gradient(to right, #B5AC49, #3CA55C);
	background: linear-gradient(to right, #B5AC49, #3CA55C);
}

.nav-link {
    color: #c43b3b;
	padding: 0 !important;
}

.nav-link.active {
	color: #212529 !important;
}

button#start {
    text-align: center;
    padding: 0.2;
    font-size: 1.5em;
}

.infoJeu {
    padding: 2em;
}

nav {
    background: linear-gradient(90deg, rgb(170, 169, 136) 0%, rgb(219, 202, 157) 0%, rgb(185, 193, 159) 47%, rgb(164, 184, 135) 79%);
    margin-bottom: 3em;
}

.logo img {
	height: 85px;
	width: 85px;
}

.navbar {
	display: flex;
	justify-content: space-around;
	padding: 10px;
	box-shadow: 0 -1px 6px rgba(0,0,0,1);
}

.active {
	background-color: unset !important;
}

.nav-item {
	margin: 20px;
}

.navbar ul li a {
    padding-top: 2px;
    position: relative;
}

.navbar ul li a:hover {
	color: unset !important;
}

.navbar ul li a::after {
    content: '';
    position: absolute;
    top: 30px;
    left: 50%;
    bottom: 0;
    -webkit-transform: translateX(-50%) scaleX(0);
    transform: translateX(-50%) scaleX(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    width: 100%;
    height: 1px;
    background-color: #000000;
    transition: transform 250ms, -webkit-transform 250ms;
}

.navbar ul li a:hover::after {
    -webkit-transform: translateX(-50%) scaleX(1);
    transform: translateX(-50%) scaleX(1);
}

.navbar ul li a::selection {
	color: #3b8c47;
}

.row {
	margin: 0 !important;
}

.block {
	text-align: center;
	text-align: -webkit-center;
}

.block h2::selection {
	color: #d4f0aa;
}

h1, h2 {
    text-align: center;
}

h3.question {
    font-size: 2em;
}

.station {
    background-color: #009;
    color: #fff;
    border: 2px solid #888;
    border-radius: 2px;
    padding: 5px;
    width: fit-content;
}

img.ligne {
    width: 3em;
    height: 3em;
    margin: 2px;
}

button.action {
    font-family: 'station';
    font-size: 2em;
    transition-duration: 0.5s;
    background-color: rgba(0, 0, 153, 0.8);
    color: #999;
    text-align: center;
}

button.action:hover {
    font-size: 2.5em;
    transition-duration: 0.5s;
    background-color: #009;
    color: #fff
}


/* TABLEAU */

table {
    border: 3px solid #fff;
    width: 100%;
}

table>thead {
    background-color: #ccc;
}

table th {
    border: 2px solid #000;
    padding: 4px;
}

table td {
    border: 1px solid #000;
    padding: 5px;
}

table td.noClassement {
    font-weight: bold;
}

table>tbody {
    background-color: #aaa;
}

.itemBox {
	background: #334d50;
	background: -webkit-linear-gradient(to right, #6d9375, #7bb668);
	background: linear-gradient(to right, #6d9375, #7bb668);

    transition-duration: 0.4s;
    border: 1px solid #ddd;
    padding: 1em;
    border-radius: 5px;
    margin-top: 75px;
}

.itemBox h3 {
    color: #27372c;
    transition-duration: 0.4s;
}

.itemBox p {
    color: transparent;
    transition-duration: 0.4s;
}

.itemBox:hover {
    background-color: #007bff;
    transition-duration: 0.4s;
    border: 3px solid #ddd;
    border-radius: 12px;
}

.itemBox:hover h3 {
    color: #fff;
    font-size: 2.5em;
    transition-duration: 0.4s;
}

.itemBox:hover p {
    color: #eee;
    transition-duration: 0.4s;
}

::-webkit-scrollbar {
    width: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 15px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
	background: -webkit-linear-gradient(to bottom, #A5FECB, #20BDFF, #a3dcd0);
	background: linear-gradient(to bottom, #A5FECB, #20BDFF, #a3dcd0);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

::-webkit-scrollbar-thumb:window-inactive {
	background: #48534b59; 
}