body {
	transition: background-color 0.5s;
}

/* -------------------- */
/* CSS du menu à gauche */
/* -------------------- */

.left-menu {
	height: 100%;
	width: 17rem;
	position: fixed;
	top: 0;
	left: 0;
	background: whitesmoke;
	margin-left: -17rem;
	transition: 0.5s;
	z-index: 1;
	box-shadow: 0px 0px 6px 1px rgba(177, 189, 196, 0.7);
}

#desc {
	padding-left: 0;
}

.col-12 {
	padding-right: 0 !important;
}

.box {
	text-align: center;
}

.box img {
	width : 40%;  
}

.card-header {
	border-top: 1px solid rgba(0,0,0,.125);
}

.card-body {
	display: flex;
}

.card-body a {
	padding-top: 15px;
}

.card-body a:hover {
	text-decoration : none;
}

.card-body img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	margin-bottom : 0.5em;
}

.card-body img:hover {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

/* --------------- */
/* FIN CSS du menu */
/* --------------- */

.arrow { /* Flèche qui se répète indéfiniment */
	transition: 0.5s;
	position: fixed;
	bottom: 50%;
	animation: loading1 2.25s ease-in-out infinite; /* Transition du chevron qui se répète indéfiniment */
}

/* --------------- */
/* CSS pour la map */
/* --------------- */

.main {
	transition: 0.5s;
	padding-left: 50px;
}

#mapid {
	height: 100vh;
	cursor: crosshair;
}

.leaflet-tile {
    -webkit-filter: none; /* Suppression de tous les filtres */
	filter: none;
	transition: 0.5s;
}

/* ----------- */
/* FIN CSS Map */
/* ----------- */

/* --- */

/* ----------------------------- */
/* Animations de type chargement */
/* ----------------------------- */

@keyframes loading1 {
	0% {
		margin-left: -0.5rem;
		opacity: 0;
		display: block;
	}
	
	50% {
		margin-left: 0;
		opacity: 1;
	}

	100% {
		margin-left: 0.5rem;
		opacity: 0;
		display: none;
	}
}

@keyframes loading2 {
	100% {
		margin-left: 16.5rem;
		opacity: 0;
		display: none;
	}
	
	50% {
		margin-left: 17rem;
		opacity: 1;
	}

	0% {
		margin-left: 17.5rem;
		opacity: 0;
		display: block;
	}
}

/* ----------------------------- */
/* Fin CSS animations chargement */
/* ----------------------------- */

/* --- */

/* ------- */
/* FIN CSS */
/* ------- */